<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Payment Confirmation</title>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>


    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    </style>
</head>

<body>
    <div class="container">
        <div class="image-wrap">
            <img src="{% static 'images/bg.svg' %}" alt="Subscription QR Code" width="100%">
        </div>
        <h2>Pay with Razorpay</h2>
        <div class="data-row-wrap">
            <div class="data-row">
                <span class="data-label">Client ID</span>
                <span class="data-colon"></span>
                <span class="data-value">{{ clientId }}</span>
            </div>

            <div class="data-row">
                <span class="data-label">Name</span>
                <span class="data-colon"></span>
                <span class="data-value">{{ clientName }}</span>
            </div>

            <div class="data-row">
                <span class="data-label">End Date</span>
                <span class="data-colon"></span>
                <span class="data-value">{{ endDate }}</span>
            </div>

            <div class="data-row">
                <span class="data-label">Device ID</span>
                <span class="data-colon"></span>
                <span class="data-value">{{ deviceId }}</span>
            </div>

            <div class="data-row">
                <span class="data-label">Channel ID</span>
                <span class="data-colon"></span>
                <span class="data-value">{{ channelId }}</span>
            </div>

            <div class="data-row">
                <span class="data-label">Channel Name</span>
                <span class="data-colon"></span>
                <span class="data-value">{{ channelName }}</span>
            </div>
            
            <div class="data-row">
                <span class="data-label">Amount</span>
                <span class="data-colon"></span>
                <span class="data-value"> ₹ {{ amount }}</span>
            </div>
        </div>
        <button class="btm-event" id="pay-btn">Pay Now</button>
    </div>


</body>

</html>

<script>
    var clientId = "{{ clientId|escapejs }}";
    var clientName = "{{ clientName|escapejs }}";
    var endDate = "{{ endDate|escapejs }}";
    var deviceId = "{{ deviceId|escapejs }}";
    var channelId = "{{ channelId|escapejs }}";
    var channelName = "{{ channelName|escapejs }}";
    var amount = "{{ amount|escapejs }}";
    var razorpayKeyId = "{{ RAZORPAY_KEY_ID|escapejs }}";
</script>
<script src="{% static 'js/payment.js' %}"></script>