body {
    font-family: "Montserrat", sans-serif;
background: linear-gradient(to right, #c7c7c7, #ffffff);
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
margin: 0;
}
.input-group input::placeholder, button {
font-family: 'Montserrat', sans-serif;
}
h2{
margin: 0px 0px 20px 0px;
}
.container {
background: #fff;
padding: 20px;
width: 350px;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
border-radius: 10px;
text-align: center;
}

h2 {
color: #333;
}

.input-group {
margin: 15px 0;
text-align: left;
}

.input-group label {
display: block;
font-weight: bold;
margin-bottom: 5px;
display:none;
}

.input-group input {
width: 100%;
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
font-size: 16px;
box-sizing: border-box;
box-shadow: 0px 0px 3px 1px #00000047;
height: 48px;
padding: 20px;
}

.button {
width: 100%;
padding: 14px 30px;
background:#f00000;
color: white;
border: none;
border-radius: 5px;
font-size: 16px;
cursor: pointer;
transition: 0.3s;
float: right;
}

.button:hover {
background: #00c3ff;
}

#extraContent {
display: none;
margin-top: 20px;
padding: 0px;
border-top: 2px solid #ddd;
}

#errorMessage {
color: red;
font-size: 14px;
margin-top: 10px;
}
h1 {
font-size: 17px;

text-align: left;
}
p {
text-align: left;
margin: 0px;
}

.resend-section {
text-align: center;
margin-top: 20px;
}

.resend-button {
color: #f00000;
font-weight: bold;
cursor: pointer;
text-decoration: underline;
}