<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
      <style>
       

    </style>
</head>
<body>

    <div class="container" id="loginContainer">
        <img src="{% static 'images/login.svg' %}" alt="Subscription QR Code" width="100%">
        <h2>Login</h2>
        <form method="POST">
            {% csrf_token %}
            
            <!-- Input for Email or Phone -->
            <div class="input-group">
                <label for="contact">Email or Phone Number:</label>
                <input type="text" id="contact" name="contact" value="{{ contact }}" placeholder=" Enter your email or phone number" required>
            </div>

            <!-- Verification Process Section (visible after sending verification code) -->
            {% if verification_code_sent %}
                <div class="verification-section" id="verification-section">
                    <h3>Enter Verification Code</h3>
                    <!-- <p>We have sent a verification code to your {{ verification_type }}.</p> -->
                    <div class="input-group">
                        <label for="verification_code">Verification Code:</label>
                        <input type="text" id="verification_code" name="verification_code" value="{{ request.POST.verification_code }}" required>
                    </div>
                    <div class="input-group">
                        <button type="submit" class="button">Verify</button>
                    </div>
                </div>
            {% endif %}

            <!-- Submit Button for Email/Phone -->
            {% if not verification_code_sent %}
                <div class="input-group">
                    <button type="submit" class="button">Send Verification Code</button>
                </div>
            {% endif %}
        </form>

        <!-- Display messages -->
        {% if messages %}
            <div class="message">
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <!-- Display code verification success message -->
        {% if code_verified %}
            <div class="message">
                <p>You have been successfully verified!</p>
            </div>
        {% endif %}

    </div>

</body>
</html>
